<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create Subject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <link rel="stylesheet" type="text/css" href="/style/landing.css" />
    <link rel="stylesheet" type="text/css" href="/style/subject.css" />
    <link rel="stylesheet" type="text/css" href="/style/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <script src="/js/loading.js"></script>
    <script src="/js/comment.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/5017b7341e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="loader">
        <div id="loading"></div>
    </div>
    <div class="page">
        <div class="subject_landing_layout">
            <div class="nav_container">
                <nav class="navbar">
                    <div class="shortcuts_container">
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/"><i class="fa-solid fa-house"></i> Home</a>
                        </div>
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/explorer"><i class="fa-solid fa-tags"></i></i></i> Explore Subjects</a>
                        </div>
                        {{if .Connected}}
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/profile"> <i class="fa-solid fa-user"></i> My Profile</a>
                        </div>
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/signout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</a>
                        </div>
                        {{end}}
                        <div class="shortcuts">
                            <div class="shortcuts_btn shortcuts_text">
                                <form action="/search" method="GET" style="display: flex;">
                                    <input type="text" name="search-value" id="search-value" style="width: 70px; border-radius: 100px;font-size: 70%;background: #E7DFDD;" class="shortcuts_text"/>
                                    <select name="search" id="search-type shortcuts_text" style="border-radius: 100px;margin-left:5px;margin-right:5px;font-size: 50%;background: #E7DFDD;">
                                        <option value="Subject">Subject</option>
                                        <option value="Post">Post</option>
                                        <option value="User">User</option>
                                    </select>
                                    <a onClick="this.parentNode.submit(); "><i class="fa-solid fa-magnifying-glass"></i> Search</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="profile">
                        {{if .Connected}}
                        <div class="profile_picture_container">
                            <a href="/profile">
                                <img class="profile_picture" src="data:image/png;base64, {{.User.ToBase64}}" />
                            </a>
                        </div>
                        <div class="username_container">
                            <p class="username">{{.User.Username}}</p>
                        </div>
                        {{else}}
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/login"><i class="fa-regular fa-circle-user"></i> Login</a>
                        </div>
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/register"><i class="fa-regular fa-id-badge"></i> Register</a>
                        </div>
                        {{end}}
                    </div>
                </nav>
            </div>
            <div class="main_container" style="display: block;">
                <div class="card">
                    <h3 style="text-align:center;font-family: 'Dosis', sans-serif;font-size: 200%;color: #0E0B16;" >Subject</h3>
                    <form class="Login" action="/subject" method="post" enctype="multipart/form-data">
                        <label for="title"> Title :   </label>
                        <input type="text" id="title" name="title" required/>
                        <label for="description"> Description :   </label>
                        <input type="text" id="description" name="description" required/>
                        <label for="nsfw"> NSFW :   </label>
                        <input type="checkbox" id="nsfw" name="nsfw" />
                        <label for="image"> Image :   </label>
                        <input type="file" onchange="ppUpload()" id="image" name="image" accept="image/png, image/jpeg">
                        <label for="tags"> Tags :   </label>
                        <input type="text" id="tags" name="tags"/>
                        <p class="button">
                            <button class="submit">Create Subject</button>
                        </p>
                    </form>
                </div>        
            </div>
            <div class="footer_container">
                <div>
                    <a class="shortcuts_text" href="/contact">Contact Us</a>
                </div>
                <div>
                    <a class="shortcuts_text" href="/license">Website License</a>
                </div>
                <div>
                    <a class="shortcuts_text" href="/GTU">General Terms of Use</a>
                </div>
                <div>
                    <a class="shortcuts_text" href="/privacy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>