<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <link rel="stylesheet" type="text/css" href="/style/landing.css" />
    <link rel="stylesheet" type="text/css" href="/style/profile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <script src="/js/loading.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="data:image/png;base64, {{.User.ToBase64}}" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/5017b7341e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="loader">
        <div id="loading"></div>
    </div>
    <div class="page">
        <div class="profile_landing_layout">
            <div class="nav_container">
                <nav class="navbar">
                    <div class="shortcuts_container">
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/"><i class="fa-solid fa-house"></i> Home</a>
                        </div>
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/explorer"><i class="fa-solid fa-tags"></i></i></i> Explore Subjects</a>
                        </div>
                        {{if .Connected}}
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/profile"> <i class="fa-solid fa-user"></i> My Profile</a>
                        </div>
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/signout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</a>
                        </div>
                        {{end}}
                        <div class="shortcuts">
                            <div class="shortcuts_btn shortcuts_text">
                                <form action="/search" method="GET" style="display: flex;">
                                    <input type="text" name="search-value" id="search-value" style="width: 70px; border-radius: 100px;font-size: 70%;background: #E7DFDD;" class="shortcuts_text"/>
                                    <select name="search" id="search-type shortcuts_text" style="border-radius: 100px;margin-left:5px;margin-right:5px;font-size: 50%;background: #E7DFDD;">
                                        <option value="Subject">Subject</option>
                                        <option value="Post">Post</option>
                                        <option value="User">User</option>
                                    </select>
                                    <a onClick="this.parentNode.submit(); "><i class="fa-solid fa-magnifying-glass"></i> Search</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="profile">
                        {{if .Connected}}
                        <div class="profile_picture_container">
                            <a href="/profile">
                                <img class="profile_picture" src="data:image/png;base64, {{.User.ToBase64}}" />
                            </a>
                        </div>
                        <div class="username_container">
                            <p class="username">{{.User.Username}}</p>
                        </div>
                        {{else}}
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/login"><i class="fa-regular fa-circle-user"></i> Login</a>
                        </div>
                        <div class="shortcuts">
                            <a class="shortcuts_btn shortcuts_text" href="/register"><i class="fa-regular fa-id-badge"></i> Register</a>
                        </div>
                        {{end}}
                    </div>
                </nav>
            </div>
            <div class="profile_display_container">
                <div class="main_profile_container">
                    <div class="profile_display">
                        {{if .User.Title}}
                        <p>Username and Title : "{{.User.Title}}" {{.User.Username}}</p>
                        {{else}}
                        <p>Username : {{.User.Username}}</p>
                        {{end}}
                    </div>
                    <div class="profile_display">
                        <p>Last Name : {{.User.LastName}}</p>
                    </div>
                    <div class="profile_display">
                        <p>First Name : {{.User.FirstName}}</p>
                    </div>
                    <div class="profile_display">
                        <p>Birth Date : {{.User.BirthDate}}</p>
                    </div>
                    <div class="profile_display">
                        {{if eq .User.Genre "Male"}}
                        <p>Genre : ​ </p> <i class="fa-solid fa-mars"></i> {{end}} {{if eq .User.Genre "Female"}}
                        <p>Genre : ​ </p> <i class="fa-solid fa-venus"></i> {{end}} {{if eq .User.Genre "Other"}}
                        <p>Genre : ​ </p> <i class="fa-solid fa-genderless"></i> {{end}}
                    </div>
                    <div class="profile_display">
                        <p>Bio : {{.User.Bio}}</p>
                    </div>
                    <div class="profile_display">
                        <p>Summoner Name : {{.SummonerName}}</p>
                    </div>
                    <div class="profile_display" style="flex-direction: column;">
                        <p>Profile Picture :</p>
                        <img src="data:image/png;base64, {{.User.ToBase64}}" style="width:100px" />
                    </div>
                    {{if .Ranked}}
                    <div class="profile_display" style="justify-content: space-evenly;text-align: center;">
                        {{range $classement := .UserRiot}}
                        <div>
                            <p>{{if eq $classement.QueueType "RANKED_SOLO_5x5"}}SOLO{{else}}FLEX{{end}} ​
                                <p>{{$classement.Rank}} {{$classement.Tier}}</p>
                                <img src="/img/Emblem_{{$classement.Tier}}.png" width="100" height="100" />
                            </p>
                        </div>
                        {{end}}
                    </div>
                    {{end}}
                    <div onclick="location.href='../update-profile'" class="profile_display" style="margin-left: 300px;margin-right: 300px;">
                        <i class="fa-solid fa-arrow-right-long"></i>
                        <p style="margin-left: 10px;margin-right: 10px;">Update Your Profile</p>
                        <i class="fa-solid fa-arrow-left-long"></i>
                    </div>
                    </a>
                </div>
            </div>
            <div class="footer_container">
                <div>
                    <a class="shortcuts_text" href="/contact">Contact Us</a>
                </div>
                <div>
                    <a class="shortcuts_text" href="/license">Website License</a>
                </div>
                <div>
                    <a class="shortcuts_text" href="/GTU">General Terms of Use</a>
                </div>
                <div>
                    <a class="shortcuts_text" href="/privacy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>