<!DOCTYPE HTML>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>User Page {{.UserP.Username}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <link rel="stylesheet" type="text/css" href="/style/landing.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <script src="/js/loading.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="data:image/png;base64, {{.ProfilePictureBase64}}" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/5017b7341e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <h1>forum</h1>
    </div>
    <div class="boubou2"> 
        <p class="divProfil">Profil</p>
    </div>      
        <div class="boubou">
            <p class="divChangeProfil">Change profile</p>
            <p class="div1">Username</p>
            <p class="divUsername">{{.User.Username}}</p>
            {{if .User.Title}}
            <p class="divUsername">  "{{.User.Title}}" {{.User.Username}}</p>
            {{end}}
            <p class="div2">LastName</p>
            <p class="divLastName">{{.User.Bio}}</p>
            <p class="div3">FirstName</p>
            <p class="divFirstName">{{.User.FirstName}}</p>
            <p class="div4">BirthDate</p>
            <p class="divBirthDate">{{.User.BirthDate}}</p>
            <p class="div5">Genre</p>
            <p class="divGenre">
            {{if eq .User.Genre "Male"}}
                <img src="/img/Emblem_Bronze.png" width="100" height="100"/>
            {{end}}
            {{if eq .User.Genre "Female"}}
                <img src="/img/Emblem_Bronze.png" width="100" height="100" padding-bottom="70%"/>
            {{end}}
            {{if eq .User.Genre "Other"}}
                <img src="/img/Emblem_Bronze.png" width="50" height="50"/>
            {{end}}
            </p>
            <p class="div6">SummonerName</p>
            <p class="divRiotId">{{.SummonerName}}</p>
            {{if .User.ProfilePicture}}
            <p class="div7">ProfilePicture</p>
            <div class="divProfilePicture">
                <img src="data:image/png;base64, {{.ProfilePictureBase64}}" style="width:20%"/>
            {{end}}
            </div class = divSoloQueue>
            {{range $classement := .UserRiot}}
                <p class="divSoloQueue">{{$classement.QueueType}}
                    <p>{{$classement.Rank}} {{$classement.Tier}}</p>
                    <img src="/img/Emblem_{{$classement.Tier}}.png" width="50" height="50"/>
                </p>
            {{end}}
        </div>
    </div>
</body>

</html>